.empfom {
    padding: 10px;
    background-color:  rgb(152 219 219);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



.f-right {
    float: right;
}
.container {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}