<div class="container-fluid">
  <!-- <p-progressSpinner *ngIf="showLoader" class="custom-loader"></p-progressSpinner> -->

  <div class="header grid" (onLazyLoad)=" toggleLoader()">
    
    <h2 class="col-5">Online Shopping</h2>
    <div class="flex justify-content-end col-7">
      <span class="p-input-icon-left mr-5">
        <i class="pi pi-search"></i>
        <input type="text" pInputText placeholder="Search..." [(ngModel)]="searchInput" (keyup)="filterProducts()">
      </span>
      <span>
        <p-button (click)="cart()">
          <i class="pi pi-shopping-cart"></i>
          <h3>cart [{{ counter }}]</h3>
        </p-button>
      </span>
    </div>
  </div>
  <div class="marquee-container">
    <div class="marquee-content">
      <img
        src="https://img.freepik.com/premium-vector/best-offer-shopping-circle-label-with-red-bow-cheap-product-marketing-emblem-sale-round-promotion-decoration-element-with-ribbon-advertising-discount-sticker-realistic-vector-isolated-illustration_176411-2328.jpg?w=2000"
        width="100px" height="100px" />

      <h3>50% Discount 50% Discount</h3>
      <h3>50% Discount 50% Discount 50%</h3>

      <img
        src="https://img.freepik.com/premium-vector/best-offer-shopping-circle-label-with-red-bow-cheap-product-marketing-emblem-sale-round-promotion-decoration-element-with-ribbon-advertising-discount-sticker-realistic-vector-isolated-illustration_176411-2328.jpg?w=2000"
        width="100px" height="100px" />
    </div>
  </div>
  <select class="m-4 p-2 w-2" (change)="changeCatageory($event)">
    <option value="{{ cat }}" *ngFor="let cat of categories">
      {{ cat | titlecase }}
    </option>
  </select>
 
  <div class="grid gap-4" *ngIf="showDialog">
    <div class="card flex flex-wrap-nowrap justify-content-center" *ngFor="let item of products">
      <p-card subheader="Card Subheader" [style]="{ width: '360px' }">
        <ng-template pTemplate="item.title">
          <img alt="Card" [src]="item.image" width="300px" height="300px" />
        </ng-template>
        <p>Price:{{ item.price }}</p>
        <h3>{{ item.title }}</h3>

        <ng-template pTemplate="footer">
          <p-button label="Add to cart" icon="pi pi-check" (click)="addCart(item)"></p-button>
          <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary"
            [style]="{'margin-left': '.5em' }"></p-button>
        </ng-template>
      </p-card>
    </div>
  </div>

  <div class="grid gap-4" *ngIf="visible">
    <span>
      <p-button label="Buy All" (click)="buy()"> </p-button>
      <p-progressSpinner *ngIf="buyLoader" class="buyLoader"></p-progressSpinner>
    </span>
    <div class="card flex flex-wrap-nowrap justify-content-center" *ngFor="let cart of cartItem">
      <p-card subheader="Card Subheader" [style]="{ width: '360px' }">
        <ng-template pTemplate="item.title">
          <img alt="Card" [src]="cart.image" width="300px" height="300px" />
        </ng-template>

        <p>Price:{{ cart.price }}</p>
        <h3>{{ cart.title }}</h3>

        <ng-template pTemplate="footer">
          <p-button label="Add to cart" icon="pi pi-check"></p-button>
          <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary"
            [style]="{ 'margin-left': '.5em' }"></p-button>
        </ng-template>
      </p-card>
    </div>
  </div>

  <div class="card flex justify-content-center flex flex-wrap md p-fluid">
    <p-dialog header="PRICE DETAILS" [(visible)]="Dialog" [style]="{ width: '50vw' }">
      <h6>Your order is eligible for FREE Delivery. Select this option at checkout. Details</h6><br>
      <input type="checkbox">
      <label>This order contains a gift</label>
      <h3>SubTotal({{ counter }})Items:{{ price | currency:'INR' }} </h3><br>
      <p-button label="Proceed to payment" (click)="payMent()" styleClass="p-button-raised p-button-warning"></p-button>

    </p-dialog>
  </div>
  <div class="card flex justify-content-center flex flex-wrap md p-fluid" >
    <p-dialog header="PAYMENT DETAILS" [(visible)]="paymentDetailsForm" [style]="{ width: '50vw' }">
      <form [formGroup]="paymentForm" class="m-2">
        <div class="mb-2 ">
          <input pInputText placeholder="Customer ID" class="form-control" formControlName="username" />
        </div>
       <div class="mb-2 "> <p-dropdown formControlName="paymentMethod" [options]="paymentOptions" appendTo="body" optionLabel="methodname" placeholder="payment-methods"></p-dropdown></div>
       <p-button label="PROCEED TO BUY"></p-button>
      </form>
      
        
         
      
  
    </p-dialog>
  </div>

</div>