<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #00b7eb;">
    <div class="container">
      <a class="navbar-brand f-30" >Employee Management</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/dashboard" aria-current="page" >Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active"  routerLink="/employee" aria-current="page" >Employee</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/project" aria-current="page" >Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/project-employee" aria-current="page"  >Employee-Projects</a>
          </li>
  
          
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
        <button (click)="signout()" class="btn btn-danger m-2"><i class="fa fa-sign-out" style="font-size:20px;" aria-hidden="true"></i></button>
      </div>
    </div>
  </nav>
  <div class="container">
    
    <router-outlet></router-outlet>
  </div>

