.container-1 {
    display: flex;                /* Enable flexbox */
    justify-content: center;      /* Center horizontally */
    align-items: center;          /* Center vertically */
    height: 100vh;
   
    
   
}



@property --angle{
syntax: "<angle>";
initial-value: 0deg;
inherits: false;
}
.card-1::after, .card-1::before {
    
    content: '';
    position: absolute;
    height: 310px;
    width: 310px;
background: black;
    top: 50%;
    left:50%;
translate: -50% -50%;
z-index: -1;
border-radius: 10px;
background-image: conic-gradient(from var(--angle), transparent 70%, white);
animation: 3s spin linear infinite;



}.card-1::before{
    filter: blur(1.5rem);
    opacity: 1.5;

}

@keyframes spin {
    from {
--angle:0deg;
    }
    to {
--angle:360deg
    }
}