#spinner.backdrop {
    z-index: 99999 !important;
    color: red;
  }

  .ng-http-loader .sk-wandering-cubes {
    /* Change the color to your desired color */
    background-color: #ff0000; /* Example: Red color */
  }