<div class="container flex p-fluid">
    <div class="login">
        <p-button label="loginPage" (click)="loginPage()"></p-button>
    </div>
    <div> <p-button label="sign-up"></p-button></div>
    <p-card header="Welcome" class="w-2" *ngIf="loginForm">
        <h1 class="m-2">login to continue...</h1>

        <form [formGroup]="loginform" class="m-2">
            <div class="mb-2">
                <input pInputText placeholder="username" class="form-control" formControlName="username" class="p-inputtex-sm" />
            </div>
            <div class="mb-2">
                <p-password placeholder="password" [toggleMask]="true" class="form-control"
                    formControlName="password"></p-password>
            </div>
        </form>
        <ng-template pTemplate="footer">
            <div class="p-mb-3 mb-2">
                <p-button label="login" (click)="login()"> </p-button>
               

            </div>
        </ng-template>
    </p-card>



</div>